#logo{
    float:left;
}

#menu {
    background: #2f4f4f;
    color: white;
}



#pie{
background: #2f4f4f;
color: white;
}

#rss{
    height: 300px;
    overflow: auto;
}

#navegador {
background: #2f4f4f;
color: white;
}

#botones a{
    color: white;
}

#titulo{
    color: white;
}