{% extends "base.html" %}

{% block title %}Grafico y mapa{% endblock %}

{% block body %}

<div  class="col-md-8" id="grafica"></div>
</div>
</div>

<div class="col-md-8" id="map"></div>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR7Spsx8hNaqBVB56t71QcvIL4VccokLA&callback=initMap">
</script>

<script>
$(function () {
    // Create the chart
    Highcharts.chart('grafica', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Numero de restaurantes por barrio'
        },
        xAxis: {
            type: 'category'
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
        },

        series: [{
            name: 'Barrios',
            colorByPoint: true,
            data: [{
                name: 'Brooklyn',
                y: {{matriz[0][0]}},
                drilldown: 'Brooklyn'
            }, {
                name: 'Manhattan',
                y: {{matriz[1][0]}},
                drilldown: 'Manhattan'
            }]
        }],
        drilldown: {
            series: [
                     {
                name: 'Brooklyn',
                id: 'Brooklyn',
                data: [
                        ['Chinese',{{matriz[0][1]}}],
                        ['Italian',{{matriz[0][2]}}],
                        ['American',{{matriz[0][3]}}],
                        ['Spanish', {{matriz[0][4]}}]
                ]
            },
                     {
                name: 'Manhattan',
                id: 'Manhattan',
                data: [
                        ['Chinese',{{matriz[1][1]}}],
                        ['Italian',{{matriz[1][2]}}],
                        ['American',{{matriz[1][3]}}],
                        ['Spanish', {{matriz[1][4]}} ]
                ]
            }
                     ]}
    });
},function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 41.850033, lng: -87.6500523},
    zoom: 10
  });
    
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    }); 
    
  }

  });
</script>



{% endblock %}