<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{%block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
    <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mi Web</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         
            {% if session['username'] %}
            <div class="navbar-collapse navbar-right">
            <p>Hola, {{session['username']}},<a href='{{url_for("logout")}}'>Cerrar Sesion</a></p></div>
          {% else %}
             <form class="navbar-form navbar-right" action="/login" method="post">
            <div class="form-group">
              <input type="text" placeholder="Usuario" name='user' class="form-control">
            </div>
              <div class="form-group">
              <input type="password" name='pass' placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
          </form>
            
          {% endif %}
              <div  class="navbar-collapse navbar-right">
            <ul class="nav navbar-nav ">
                    <li> <button class="btn btn-primary btn-sm" onclick="aumentarFuente()">Aumentar Fuente</button></li>
                    <li><button class="btn btn-primary btn-sm" onclick="disminuirFuente()">Disminuir Fuente</button> </li>
                    <li><button class="btn btn-primary btn-sm" onclick="cambiarColor()">Cambiar Color</button>  </li>
                </ul>
            </div> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    </div><hr> 
    <div class="row">
        <div class="col-md-2">
          <h4>Menu</h4>
           <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills nav-stacked" >
        <li ><a href="/">Inicio</a></li>
        {% if session['username'] %}
          <li id='users'> Usuarios
              <ul id="submenu_users" class="nav navbar-nav nav-pills nav-stacked" >
                  <li> <a href="/usuarios/{{session['username']}}">Editar mis datos</a></li>
                  <li> <a href="/registroUsuario">Nuevo Usuario</a></li>
              </ul>
          </li>
        {% endif %}
        <li id="rest">Restaurantes
            <ul id="submenu_rest" class="nav navbar-nav nav-pills nav-stacked" >
                <li><a href="/restaurantes?cuisine=&borough=">Ver Restaurantes</a></li>
                <li><a href="{{url_for('registroRestaurante')}}">Nuevo Restaurante</a></li>
            </ul>
          </li>
        
      </ul>
    </div>
        </div>
        <div class="col-md-8">
          {% block content %}{% endblock %}
       </div>
     </div>

      <hr>

      <footer>
        <p>Sitio web creado por Daniel López García</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
      <script src="../static/js/p5.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
