#logo{
    float:left;
}

#menu {
    background-color:  rgb(211, 214, 212);
}
#menu.li{
    background-color:  rgb(211, 214, 212);
}
#navegador {
    background-color:  rgb(211, 214, 212);;
}

#pie{
    background-color:  rgb(211, 214, 212);
}

#rss{
    height: 300px;
    overflow: auto;
}

#map {
        height: 100%;
      }
