{% extends 'layout.html' %}
{% block title %} Editar Usuario {% endblock %}
{% block content %}

<form class="form-horizontal" method="post" action="/editarUsuario">

<!-- Form Name -->
<legend>Nuevo Usuario</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre</label>  
  <div class="col-md-5">
  <input id="nombre" name="nombre" type="text" value="{{user.name}}" class="form-control input-md" required="" readonly>
    
  </div>
</div>
    
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" value="{{user.email}}" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pass">Contraseña</label>  
  <div class="col-md-4">
  <input id="pass" name="pass" type="password" value={{user.pass}} class="form-control input-md">
    
  </div>
</div>
    

<!-- Button -->
<div class="form-group">
 
  <div class="col-md-4">
    <button id="registrarse" name="registrarse" class="btn btn-danger">Editar</button>
  </div>
</div>
</form>
{% endblock %}