{% extends 'layout.html' %}
{% block title %} Nuevo Restaurante {% endblock %}
{% block content %}
<form class="form-horizontal" method="post" action="/nuevoRestaurante">

<!-- Form Name -->
<legend>Nuevo Restaurante</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Id</label>  
  <div class="col-md-5">
  <input id="id" name="id" type="text" placeholder="Id" class="form-control input-md" required="">
    
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nombre">Nombre</label>  
  <div class="col-md-5">
  <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control input-md" required="">
    
  </div>
</div>
    
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cocina">Cocina</label>  
  <div class="col-md-4">
  <input id="cocina" name="cocina" type="text" placeholder="Cocina" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="borough">Barrio</label>  
  <div class="col-md-4">
  <input id="borough" name="borough" type="text" placeholder="" class="form-control input-md">
  </div>
</div>
    
<div class="form-group">
  <label class="col-md-4 control-label" for="street">Calle</label>  
  <div class="col-md-4">
  <input id="street" name="street" type="text" placeholder="Calle" class="form-control input-md">
    </div></div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="building">Edificio</label>  
  <div class="col-md-4">
  <input id="building" name="building" type="text" placeholder="Edificio" class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="zipcode">Codigo Postal</label>  
  <div class="col-md-4">
  <input id="zipcode" name="zipcode" type="text" placeholder="Codigo Postal" class="form-control input-md">
  </div>
</div>
<!-- Button -->
<div class="form-group">
  
  <div class="col-md-4">
    <button id="registrar" name="registrar" class="btn btn-danger">Registrar</button>
  </div>
</div>
</form>
{% endblock %}