<head>
        <meta charset="utf-8" />
        <title id="title">Practica3</title>
        <link rel = "stylesheet" type = "text/css" href = "estilos.css" />
    </head>

    <body>

        <header id="header"> 
            <section id="logo">
                <a href="index.html"><img src="imagenes/logo.png"/></a> 
            <h1>Mi pagina web</h1>
                <h2>Desarrollo de Aplicaciones para Internet</h2>
            </section>

            {% if user %}
            
            {% else %}
            <form action="" method="post">
                <input type="text" name="user" value="usuario"/>
                <input type="password" name="pwd" value="password"/>
                <input type="submit" value="Acceder" />
            </form>
            {% endif %}

        </header>